@model CaseModeModel

<div class="card mb-3">
    <div class="card-img-top">
        <a href="@Model.ImageUrl" target="_blank" >
            <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Name">
        </a>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">R$ @Model.Price</li>                    
            </ul>  
    </div>
</div>
<div style="row; position: relative;" >    
        <div style="display: inline;">    
        <a  href="/CaseMode" class="btn btn-primary">Voltar</a>
        </div>
        <div style="display: inline;">    
        <a  href="/CaseMode/Update/@Model.Id" class="btn btn-info">Atualizar</a>
        </div>
        <div style="display: inline;">    
        <a  href="/CaseMode/Delete/@Model.Id" class="btn btn-danger">Excluir</a>            
        </div>
</div>
